<p id="notice"><%= notice %></p>

<p>
  <strong>Surgery/Hospital Form Name:</strong>
  <%= @surg_hosp_form.name %>
</p>

<%= link_to 'Edit', edit_surg_hosp_form_path(@surg_hosp_form) %> |
<%= link_to 'Back', surg_hosp_forms_path %>
