<h1>New Provider for Surgery or Hospital Form</h1>

<p>This form creates a new provider record for any given surgery or hospital form. </p>
<p>If you wish to create a provider record for any other class of forms
  (e.g. clinical) please click on that form type in the header. </p>

<%= render 'form' %>

<%= link_to 'Back', surg_hosp_form_docs_path %>
